<div class="page-header">
	<h1 class="text-center">Jig Order Details</h1>
</div>

<%= link_to "Edit Order", edit_jig_order_path(@jig_order), class: "btn btn-primary btn-large pull-right" %>

<p>
	<strong>Jig Order Customer:</strong>
	<%= @jig_order.customer.name %>
</p>

<p>
	<strong>Jig Order Number:</strong>
	<%= @jig_order.id %>
</p>

<p>
	<strong>Jig Order Date:</strong>
	<%= @jig_order.date %>
</p>

<p>
	<strong>Jig Order Notes:</strong>
	<%= @jig_order.notes %>
</p>
	
<hr>

<table class="table">
	<thead>
		<th>Jig Name</th>
		<th># Repaired</th>
		<th># Cleaned</th>
	</thead>

	<tbody>
		<% @jig_order.jig_order_line_items.each do |line_item| %>
			<tr>
				<th scope="row"><%= line_item.jig.name %></th>
				<td><%= line_item.repaired %></td>
				<td><%= line_item.cleaned %></td>
			</tr>	
		<% end %>
	</tbody>
</table>

<%= link_to "Back to Jig Order Index", jig_orders_path, class: "btn btn-primary btn-large" %>