<% provide(:title, "Jig List") %>
<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1 class="text-center">Jig Listing</h1>
  <%= link_to "Create Jig", new_jig_path, class: "btn btn-primary pull-right" %>
</div>

<div class="row">
    <%= search_form_for @search do |f| %>

            <%= f.label :customer_id_eq, "Customer", class: 'control-label' %>
            <%= f.collection_select :customer_id_eq, @customers, :id, :name, include_blank: true,  class: 'form-control' %>

            <%= f.label :name_cont, "Jig Name", class: 'control-label' %>
            <%= f.text_field :name_cont, class: 'form-control' %>

            <%= f.submit "Search", class: "btn btn-primary" %>
            <%= link_to "Clear Search", request.path, class: "cancel-button btn btn-info btn-block" %>
    <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer</th>
      <% if admin_signed_in? or current_user.has_role? :bookkeeper %>
        <th>Cleaning Charge</th>
        <th>Repair Charge</th>
      <% end %>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jigs.each do |jig| %>
      <tr>
        <th scope="row"><%= jig.name %></th>
        <td><%= jig.customer.name %></td>
        <% if admin_signed_in? or current_user.has_role? :bookkeeper %>
          <td><%= number_to_currency jig.cleaning_charge %></td>
          <td><%= number_to_currency jig.repair_charge %></td>
        <% end %>
        <td><%= image_tag jig.jig_photo.url(:thumb) %></td>
        <td><%= link_to 'Show', jig %></td>
        <td><%= link_to 'Edit', edit_jig_path(jig) %></td>
        <td><%= link_to 'Destroy', jig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


