<% provide(:title, "Jig Information") %>
<p>
  <strong>Name:</strong>
  <%= @jig.name %>
</p>

<p>
	<strong>Customer:</strong>
	<%= @jig.customer.name %>
</p>

<% if admin_signed_in? or current_user.has_role? :bookkeeper %>
  <p>
    <strong>Cleaning charge:</strong>
    <%= number_to_currency @jig.cleaning_charge %>
  </p>

  <p>
    <strong>Repair charge:</strong>
    <%= number_to_currency @jig.repair_charge %>
  </p>
<% end %>
<p>
	<strong>Jig Photo:</strong>
  <div class="img img-responsive">
    <%= image_tag @jig.jig_photo.url(:medium) %>
  </div>
</p>

<%= link_to 'Edit', edit_jig_path(@jig) %> |
<%= link_to 'Back', jigs_path %>
