<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jig.name %>
</p>

<p>
  <strong>Cleaning charge:</strong>
  <%= @jig.cleaning_charge %>
</p>

<p>
  <strong>Repair charge:</strong>
  <%= @jig.repair_charge %>
</p>
<p>
	<strong>Image:</strong>
	<%= image_tag @jig.image_url(:thumb), class: "img img-responsive" %>
</p>

<%= link_to 'Edit', edit_jig_path(@jig) %> |
<%= link_to 'Back', jigs_path %>
