<div class="container">
  <div class="row">
    <h3>Digital Signature</h3>
    <div class="col-md-12">
      <%= simple_form_for @signature, html: { class: "form-horizontal" } do |f| %>
        <%= f.input :jig_work_order_id %>
        <div class="form-group">
          <%= f.label :kind, "Signature Type" %>
          <%= f.select :kind, options_for_select(["Customer", "Driver"]), {}, { class: "form-control" } %>
        </div>
        <%= f.input :name, hint: "Please type name of person signing." %>
        <%= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
        <div class="signature_pad text-center">
          <div class="signature_pad_body">
            <canvas></canvas>
          </div>
          <div class="signature_pad_footer">
            <div class="text-muted">Sign above</div>
            <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
            <%= f.button :submit, 'Save', class: 'btn btn-success signature_pad_save' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
