<% provide(:title, "Expense Report Details") %>
<div class="row">
  <div class="page-header">
    <h1 class="text-center">Expense Report #<%= @expense_report.id %> Details</h1>
  </div>
</div>
<div class="row">
  <p>
    <strong>Report ID #:</strong>
    <%= @expense_report.id %>
  </p>

  <p>
    <strong>Submitted By:</strong> 
    <% if @expense_report.admin.nil? %>
      <%= @expense_report.user.full_name %>
    <% elsif @expense_report.user.nil? %>
      <%= @expense_report.admin.full_name %>
    <% end %>
  </p>

  <p>
    <strong>Date: </strong>
    <%= l @expense_report.date %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= @expense_report.vendor %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= number_to_currency(@expense_report.amount) %>
  </p>

  <p>
    <strong>Payment Method:</strong>
    <%= @expense_report.payment_method.humanize %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @expense_report.category.humanize %>
    <% if @expense_report.other? %>
      <p>
        <strong>Other Explanation:</strong>
        <%= @expense_report.other_note %>
      </p>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @expense_report.note %>
  </p>

  <p>
    <strong>Receipt:</strong>
    <% if @expense_report.is_image? %>
      <%= image_tag @expense_report.receipt.url(:large), class: "img img-responsive" %>
    <% elsif @expense_report.receipt_content_type == "application/pdf" %>
      <iframe src="<%= @expense_report.receipt.url %>" class="center-block"</iframe>
    <% end %>
  </p>
</div>
<div class="row">
  <%= link_to "Back", expense_reports_path, class: "btn btn-primary btn-lg pull-left" %>
  <%= link_to "Edit", edit_expense_report_path(@expense_report), class: "btn btn-success btn-lg pull-right" %>
</div>
