<% provide(:title, "Expense Summary Report") %>
<div class="page-header">
  <h1 class="text-center">Expense Summary Report</h1>
</div>
<div class="row">
  <table class="table" id="expense-reports-table">
    <thead>
      <tr>
        <th>Report ID #</th>
        <th>Submitted By</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Vendor</th>
        <th>Category</th>
        <th>Payment Method</th>
        <th>Receipt</th>
      </tr>
    </thead>
    <tbody>
      <% @expense_reports.each do |expense_report| %>
        <tr>
          <th scope="row"><%= expense_report.id %></th>
          <% if expense_report.admin.nil? %>
            <td><%= expense_report.user.full_name %></td>
          <% elsif expense_report.user.nil? %>
            <td><%= expense_report.admin.full_name %></td>
          <% end %>
          <td><%= l expense_report.date %></td>
          <td><%= number_to_currency(expense_report.amount) %></td>
          <td><%= expense_report.vendor %></td>
          <td><%= expense_report.category.humanize %></td>
          <td>
            <%= expense_report.payment_method.humanize %>
          </td>
          <% if expense_report.receipt.exists? %>
            <% if expense_report.is_image? %>
              <td>
                <%= image_tag expense_report.receipt.url(:thumb), class: "img img-reponsive" %>
              </td>
            <% else %>
              <td>
                <%= link_to "Download #{expense_report.receipt_file_name}", expense_report.receipt.url %>
              </td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<div class="row">
  <strong>Total Amount of Expenses:</strong>
  <p>
    <%= number_to_currency @total %> 
  </p>
  <strong>Dates Included:</strong>
  <p>
  <%= l @date_range[:earliest] %> to <%= l @date_range[:latest] %>
  </p>
  <strong>Users Included:</strong>
  <p>
    <ul>
      <% @users_included.each do |user| %>
        <li><%= user.full_name %></li>
      <% end %>
    </ul>
  </p>
</div>
