<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Know Well", root_path, class: "navbar-brand" %>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
			<li class="nav-item <%= active_class(root_path) %>">
				<%= link_to "Home", root_path, class: "nav-link" %>
			</li>
			<% if user_signed_in? or admin_signed_in? %>
			<li class="dropdown <%= active_class(jig_reporting_path) %>">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Work Order System
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
                                        <% if admin_signed_in? or current_user.has_role? :shop_supervisor or current_user.has_role? :bookkeeper %>
                                          <li><%= link_to 'Create New Jig', new_jig_path, class: "nav-link" %></li>
                                        <% end %>
                                        <% if admin_signed_in? or current_user.has_role? :bookkeeper %>
                                          <li><%= link_to 'Create New Jig Summary Report', new_report_path, class: "nav-link" %></li>
                                        <% end %>
					<div class="dropdown-divider"></div>
					<li><%= link_to 'Work Order Management', work_orders_management_path, class: "nav-link" %></li>
					<li><%= link_to 'Jig Work Order List', jig_work_orders_path, class: "nav-link" %></li>
					<li><%= link_to 'Jig List', jigs_path, class: "nav-link" %></li>
                                        <% if admin_signed_in? or current_user.has_role? :bookkeeper %>
                                          <li><%= link_to 'Jig Summary Report List', reports_path, class: "nav-link" %></li>
                                        <% end %>
				</ul>
			</li>
                        <li class="nav-item <%= active_class(projects_path) %>">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project Management
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Create New Project", new_project_path, class: "nav-link" %></li>
                            <div class="dropdown-divider"></div>
                            <li><%= link_to "Project List", projects_path, class: "nav-link" %></li>
                          </ul>
                        </li>
                        <li class="nav-item <%= active_class(safety_data_sheets_path) %>">
                          <%= link_to "Safety Data Sheets List", safety_data_sheets_path %>
                        </li>
                        <% if admin_signed_in? or current_user.has_role? :shop_supervisor or current_user.has_role? :inventory_control %>
                          <li class="nav-item">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory Control System
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                              <li><%= link_to "Create New Product", new_product_path, class: "nav-link" %></li>
                              <li><%= link_to "Create New Manufacturer", new_manufacturer_path, class: "nav-link" %></li>
                              <li><%= link_to "Create New Vendor", new_vendor_path, class: "nav-link" %></li>
                              <li><%= link_to "Create New Order", new_order_path, class: "nav-link" %></li>
                              <li><%= link_to "Create New Product Report", new_product_report_path, class: "nav-link" %></li>
                              <div class="dropdown-divider"></div>
                              <li><%= link_to "Product List", products_path, class: "nav-link" %></li>
                              <li><%= link_to "Manufacturer List", manufacturers_path, class: "nav-link" %></li>
                              <li><%= link_to "Vendor List", vendors_path, class: "nav-link" %></li>
                              <li><%= link_to "Order List", orders_path, class: "nav-link" %></li>
                              <li><%= link_to "Product Report List", product_reports_path, class: "nav-link" %></li>
                              <div class="dropdown-divider"></div>
                              <li><%= link_to "Product Counts", product_count_path, class: "nav-link" %></li>
                            </ul>
                          </li>
                        <% end %>
			<li class="nav-item <%= active_class(customers_path) %>">
				<%= link_to "Customer Database", customers_path, class: "nav-link" %>
			</li>
                        <li class="nav-item <%= active_class(expense_reports_path) %>">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expense Reports
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Create New Expense Report", new_expense_report_path, class: "nav-link" %></li>
                            <li><%= link_to "Create New Expense Summary Report", create_expense_summary_report_path, class: "nav-link" %></li>
                            <li><%= link_to "Expense Report List", expense_reports_path, class: "nav-link" %></li>
                          </ul>
                        </li>
			<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.first_name + " " + current_user.last_name %>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
					</ul>
				</li>
				<% elsif admin_signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_admin.first_name + " " + current_admin.last_name %>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete %></li>
					</ul>
				</li>
                                <% else %>
				<li class="<%= active_class(new_user_session_path) %>">
					<%= link_to "Log In", new_user_session_path, class: "nav-link" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div><!-- Container -->
</nav>
