<div class="nested-fields">
  <div class="form-inline center" id="#Address">
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state, collection: us_states %> 
    <%= f.input :zip %>
    <%= link_to_remove_association "Remove Address", f %>
  </div>
</div>
