<div class="container">
  <%= simple_form_for @customer, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :customer_service_email %>
    <%= f.input :invoice_email %>
    <%= f.input :website %>
    <%= f.input :payment, as: :select, collection: Customer.payments.map { |key, value| [key.humanize, key] } %>
    <h4 class="text-center">Addresses</h4>
    <div id="addresses">
      <%= f.simple_fields_for :addresses, html: { class: 'form-inline' } do |address| %>
        <%= render 'address_fields', f: address %>
        <div class="links">
          <%= link_to_add_association 'Add Address', f, :addresses, class: 'btn btn-success btn-block' %>
        </div>
      <% end %>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
