<div class="page-header">
  <h1 class="text-center"><%= @customer.name %> Details</h1>
</div>
<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone) %>
</p>

<p>
  <strong>Fax:</strong>
  <%= number_to_phone(@customer.fax) %>
</p>
<p>
  <strong>Customer Service Email:</strong>
  <%= @customer.customer_service_email %>
</p>
<p>
  <strong>Invoice Email:</strong>
  <%= @customer.invoice_email %>
  <% if @customer.mail_invoice %>
    <p><strong>Customer would prefer their invoices to be mailed.</strong></p>
  <% else %>
    <p>Customer would prefer their invoices to be emailed.</p>
  <% end %>
</p>
<p>
  <strong>Website:</strong>
  <%= @customer.website %>
</p>
<p>
  <strong>Prefered Payment Method:</strong>
  <% unless @customer.payment.nil? %>
    <%= @customer.payment.titleize %>
  <% end %>
</p>
<div class="page-header">
  <h1 class="text-center">Addresses</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      <% @customer.addresses.each do |address| %>
        <tr>
          <th scope="row"><%= address.category %></th>
          <td><%= address.street %></td>
          <td><%= address.city %></td>
          <td><%= address.state %></td>
          <td><%= address.zip %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="page-header">
  <%= link_to "Create New Contact", new_customer_contact_path(@customer), class: 'btn btn-success pull-right' %>
  <h1 class="text-center">Contacts</h1>
</div>
<div class="row">
  
</div>

<div class="page-header">
  <h1 class="text-center">Scope of Works</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Created</th>
        <th>Created By</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @scope_of_works.each do |sow| %>
        <tr>
          <th scope="row"><%= sow.name %></th>
          <td><%= l sow.date_created %></td>
          <td><%= sow.created_by %></td>
          <td><%= sow.description %></td>
          <td><%= link_to 'Show', scope_of_work_path(sow) %></td>
          <td><%= link_to 'Edit', edit_scope_of_work_path(sow) %></td>
          <td><%= link_to 'Destroy', scope_of_work_path(sow), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit Customer', edit_customer_path(@customer), class: "btn btn-primary" %> |
<%= link_to 'Back', customers_path, class: "btn btn-primary" %>
