<div class="container">
<%= simple_form_for @order, html: { class: "form-horizontal" } do |f| %>
  <div class="row">
    <div class="well">
      <h4 class="text-center">Products Needed</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Lead Time</th>
            <th>Current</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <th scope="row"><%= product.name %></th>
              <td><%= product.category.name %></td>
              <td><%= product.maximum_on_hand %></td>
              <td><%= product.minimum_on_hand %></td>
              <td><%= pluralize(product.lead_time, 'day') unless product.lead_time.nil? %></td>
              <td><%= product.current_on_hand %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <h4 class="text-center">Select Products For Order</h4>
    <div class="col-md-4">
      <% unless @raw_materials.empty? %>
        <h4>Raw Materials</h4>
        <%= f.input :product_ids, collection: @raw_materials, as: :check_boxes, label: false %>
      <% end %>
      <% unless @lab_supplies.empty? %>
        <h4>Lab Supplies</h4>
        <%= f.input :product_ids, collection: @lab_supplies, as: :check_boxes, label: false %>
      <% end %>
      <% unless @consumables.empty? %>
        <h4>Consumables</h4>
        <%= f.input :product_ids, collection: @consumables, as: :check_boxes, label: false %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% unless @shop_supplies.empty? %>
        <h4>Shop Supplies</h4>
        <%= f.input :product_ids, collection: @shop_supplies, as: :check_boxes, label: false %>
      <% end %>
      <% unless @maintenance_supplies.empty? %>
        <h4>Maintenance Supplies</h4>
        <%= f.input :product_ids, collection: @maintenance_supplies, as: :check_boxes, label: false %>
      <% end %>
      <% unless @offsite_consumables.empty? %>
        <h4>Offsite: Consumables</h4>
        <%= f.input :product_ids, collection: @offsite_consumables, as: :check_boxes, label: false %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% unless @offsite_ppe.empty? %>
        <h4>Offsite: PPE</h4>
        <%= f.input :product_ids, collection: @offsite_ppe, as: :check_boxes, label: false %>
      <% end %>
      <% unless @offsite_equipment.empty? %>
        <h4>Offsite: PPE</h4>
        <%= f.input :product_ids, collection: @offsite_equipment, as: :check_boxes, label: false %>
      <% end %>
      <% unless @offsite_misc.empty? %>
        <h4>Offsite: PPE</h4>
        <%= f.input :product_ids, collection: @offsite_misc, as: :check_boxes, label: false %>
      <% end %>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %> 
</div>
