<div class="container">
<%= simple_form_for @order, html: { class: "form-horizontal" } do |f| %>
  <div class="row">
    <div class="well">
      <h4 class="text-center">Products Needed</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Lead Time</th>
            <th>Current</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <th scope="row"><%= product.name %></th>
              <td><%= product.maximum_on_hand %></td>
              <td><%= product.minimum_on_hand %></td>
              <td><%= pluralize(product.lead_time, 'day') unless product.lead_time.nil? %></td>
              <td><%= product.current_on_hand %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <h4 class="text-center">Select Products For Order</h4>
    <div class="col-md-4">
      <%= f.association :products, collection: @products, as: :check_boxes %>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %> 
</div>
