<% provide(:title, "Inventory Control Home") %>
<div class="row">
  <div class="page-header">
    <h1 class="text-center">Inventory Control Home</h1>
  </div>
</div>
<div class="row">
  <h2 class="text-center">Orders</h2>
  <hr>
  <%= link_to "Create New Order", new_order_path, class: "btn btn-success btn-block" %>
  <hr>
  <%= link_to "List of Orders", orders_path, class: "btn btn-primary btn-block" %>
</div>
<div class="row">
  <h2 class="text-center">Products</h2>
  <hr>
  <%= link_to "Create New Product", new_product_path, class: "btn btn-success btn-block" %>
  <hr>
  <%= link_to "List of Products", products_path, class: "btn btn-primary btn-block" %>
  <hr>
  <%= link_to "Product Counts", product_count_path, class: "btn btn-info btn-block" %>
</div>
<div class="row">
  <h2 class="text-center">Manufacturers</h2>
  <hr> 
  <%= link_to "Create New Manufacturer", new_manufacturer_path, class: "btn btn-success btn-block" %>
  <hr>
  <%= link_to "List of Manufacturers", manufacturers_path, class: "btn btn-primary btn-block" %>
</div>
<div class="row">
  <h2 class="text-center">Vendors</h2>
  <hr>
  <%= link_to "Create New Vendor", new_vendor_path, class: "btn btn-success btn-block" %>
  <hr>
  <%= link_to "List of Vendors", vendors_path, class: "btn btn-primary btn-block" %>
</div>
<div class="row">
  <h2 class="text-center">Product Reports</h2>
  <hr>
  <%= link_to "Create New Product Report", new_product_report_path, class: "btn btn-success btn-block" %>
  <hr>
  <%= link_to "List of Product Reports", product_reports_path, class: "btn btn-primary btn-block" %>
</div>
