<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Lead</th>
      <th>Project Status</th>
      <th>Department</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <% if project.user.nil? %>
          <td><%= project.admin.full_name %></td>
        <% elsif project.admin.nil? %>
          <td><%= project.user.full_name %></td>
        <% end %>
        <td><%= project.status.try(:titleize) %></td>
        <td><%= project.department.try(:titleize) %></td>
        <td><%= l project.updated_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
