<% provide(:title, "Project Home") %>
<div class="page-header">
  <h1 class="text-center"><%= "#{@project.name}" %> Home </h1>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Project Details</h3>
  </div>
  <div class="panel-heading">
    <h4 class="panel-title">Description</h4>
  </div>
  <div class="panel-body">
    <p><%= @project.description %></p>
  </div>
  <div class="panel-heading">
    <h4 class="panel-title">Department</h4>
  </div>
  <div class="panel-body">
    <p><%= @project.department %></p>
  </div>
  <div class="panel-heading">
    <h4 class="panel-title">Status</h4>
  </div>
  <div class="panel-body">
    <p><%= @project.status.titleize %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Tasks</h4>
    <table class="table">
      <thead>
        <th>Change Order</th>
        <th>Order</th>
        <th>Task</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Duration</th>
        <th>End Date</th>
        <th>Percent Complete</th>
        <th>Completed?</th>
      </thead>
      <tbody class="task-index">
        <%= render 'tasks/index' %>
      </tbody>
    </table>
    <div id="task-modal" class="modal fade"></div>
    <%= link_to "Create New Task", new_project_task_path(@project), remote: true, class: "btn btn-block btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Progress Notes</h4>
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Created By</th>
        <th>Note</th>
        <th colspan="2"></th>
      </thead>
      <tbody class="progress-note-index">
        <%= render "progress_notes/index" %>
      </tbody>
    </table>
    <div id="progress-note-modal" class="modal fade"></div>
    <%= link_to "Create New Progress Note", new_project_progress_note_path(@project), remote: true, class: "btn btn-block btn-primary" %>
</div>
