<%= image_tag attachments.inline['autochem_industrial.png'].url, alt: "Autochem Industrial Logo" %>
<h1>Jig Work Order Shipped for <%= @jig_work_order.customer.name %></h1>
<h3>
  Jig Work Order #: <%= @jig_work_order.id %>
</h3>
<h3 class="text-center">Items and Quantity Returned</h3>
<hr>
<table class="table">
  <thead>
    <th>Jig Name</th>
    <th>Jig Photo</th>
    <th># Expected</th>
    <th># Repaired</th>
    <th># Cleaned</th>
  </thead>

  <tbody>
    <% @jig_work_order.jig_work_order_line_items.each do |line_item| %>
      <tr>
        <th scope="row"><%= line_item.jig.name %></th>
        <td><%= image_tag line_item.jig.jig_photo.url(:thumb) %></td>
        <td><%= line_item.expected %></td>
        <td><%= line_item.repaired %></td>
        <td><%= line_item.actual %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<p>
  You are receiving this email as a notification that a Jig Work Order has been shipped. 
</p>
<p>
  If you have questions or concerns regarding your order please contact <%= mail_to "joel@autochemky.com", "Joel Vice", subject: "Jig Work Order Issue" %>
</p>
<p>
  If you have received this email in error please contact <%= mail_to "josh@autochemind.com", "Josh Pettyjohn", subject: "Jig Work Order Notification Issue" %>
</p>
<h4>
  All the Best, 
  <hr>
  AutoChem Industrial
</h4>
