<% provide(:title, "Vendor Details") %>
<div class="row">
  <div class="page-header">
    <h1 class="text-center"><%= "#{@vendor.name}" %> Details</h1>
  </div>
</div>
<div class="row">
  <p>
    <strong>Name: </strong>
    <%= @vendor.name %>
  </p> 
</div>
<div class="row">
  <p>
    <strong>Website: </strong>
    <%= link_to "#{@vendor.name}'s Website", @vendor.website %>
  </p> 
</div>
<div class="row">
  <p>
    <strong>Phone Number: </strong>
    <%= number_to_phone(@vendor.phone, area_code: true) %>
  </p> 
</div>

<%= link_to "Back", vendors_path %>



