<%= simple_form_for @product, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :part_number, label: "Part Number", hint: "Please make sure you are using the vendor's or manufacturer's exact part number" %>
  <%= f.association :category, collection: Category.all %>
  <%= f.association :manufacturer %>
  <%= f.association :vendor %>
  <%= f.input :description, hint: "Please copy and paste the entire description from the Vendor's or Manufacturer's Website in order to make ordering more accurate in the future." %>
  <hr> 
  <h2 class="text-center">Product Details</h2>
  <div class="well">
    <p>
      About Product Details: 
      <ul>
        <li>You only need to submit <strong>either</strong> a Price Per Container <strong>OR</strong> a Price Per Unit. The other will be caluculated based on Units Per Container.</li>
        <li>Each item should have a defined Container and Unit. For example: Gloves might come in a "Box" and be counted in "Pairs".</li>
        <li>Please provide, to the best of your knowledge, a number for Maximum and Minimum on Hand and a Lead Time. These numbers can always be easily edited as they change.</li>
      </ul>
    </p>
  </div>
  <%= f.input :container, hint: "What kind of container do we order this item by?" %>
  <%= f.input :unit, hint: "What kind of unit do we use to count this item by?" %>
  <%= f.input :units_per_container, label: "Units Per Container" %>
  <%= f.input :price_per_container, label: "Price Per Container", hint: "If provided, please leave Price Per Unit blank." %>
  <%= f.input :price_per_unit, label: "Price Per Unit", hint: "If provided, please leave Price Per Container blank."  %>
  <%= f.input :maximum_on_hand, label: "Maximum On Hand" %>
  <%= f.input :minimum_on_hand, label: "Minimum On Hand" %>
  <%= f.input :lead_time, label: "Lead Time", hint: "In whole number of days" %>
  <%= f.input :current_on_hand, label: "Current Amount On Hand" %>
  <%= f.submit %>
<% end %>
