<% provide(:title, "Products List") %>
<div class="row">
  <div class="page-header">
    <h1 class="text-center">Product List</h1>
  </div>
</div>
<button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#searchFields">Search Fields</button>
<div class="collapse" id="searchFields">
  <div class="row">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, "Product Name", class: 'control-label' %>
      <%= f.text_field :name_cont, class: 'form-control' %>

      <%= f.label :part_number_cont, "Part Number", class: 'control-label' %>
      <%= f.text_field :part_number_cont, class: 'form-control' %>

      <%= f.label :vendor_id_eq, "Vendor", class: 'control-label' %>
      <%= f.collection_select :vendor_id_eq, @vendors, :id, :name, include_blank: true, class: 'form-control' %>

      <%= f.label :manufacturer_id_eq, "Manufacturer", class: 'control-label' %>
      <%= f.collection_select :manufacturer_id_eq, @manufacturers, :id, :name, include_blank: true, class: 'form-control' %>

      <%= f.label :description_cont, "Description", class: 'control-label' %>
      <%= f.text_field :description_cont, class: 'form-control' %>

      <%= f.submit "Search", class: "btn btn-primary" %>
      <%= link_to "Clear Search", request.path, class: "cancel-button btn btn-info btn-block" %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'table' %>
</div>
