<% provide(:title, "User Index") %>
<div class="row">
  <div class="page-header">
    <h1 class="text-center">User Information</h1>
  </div>
</div>

<div class="row">
  <p>
    <strong>Name:</strong>
    <%= @user.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Roles:</strong>
    <% @user.roles.each do |role| %>
      <p><%= "#{role.name.titleize}" %></p>
    <% end %>
  </p>
</div>

<%= link_to 'Edit', user_edit_path(@user.id) %> |
<%= link_to 'Back', user_index_path %>
